<div class="about-section">
  <button (click)="downloadFile()" align="center">Download Resume</button><!--button to download CV-->
</div>

<div class="photo-container">
  <div class="content">
    <h1>My Interests</h1>
    <ul class="interests-grid">
      <li>
        <div class="interest-item" style="background-image: url('./hobbies/hiking.JPG');">Mountain hiking</div>
      </li>
      <li>
        <div class="interest-item" style="background-image: url('./hobbies/bodyB.jpeg');">Bodyboarding</div>
      </li>
     <!-- 
      <li>
        <div class="interest-item" style="background-image: url('assets/pc-gaming.jpg');">PC gaming (Participated in national tournaments)</div>
      </li>
     -->
     <!-- 
      <li>
        <div class="interest-item" style="background-image: url('assets/touch-rugby.jpg');">Touch rugby</div>
      </li>
     -->
     <!-- <li>
        <div class="interest-item" style="background-image: url('assets/technological-research.jpg');">Technological research</div>
      </li>
    -->
      <!--
      <li>
        <div class="interest-item" style="background-image: url('assets/philosophy.jpg');">Philosophy</div>
      </li>
    -->
      <li>
        <div class="interest-item" style="background-image: url('./hobbies/longboard.jpeg');">Longboarding</div>
      </li>
      <!--
      <li>
        <div class="interest-item" style="background-image: url('assets/reading.jpg');">Reading</div>
      </li>
    -->
      <li>
        <div class="interest-item" style="background-image: url('assets/weight-lifting.jpg');">Weight lifting exercises</div>
      </li>
      <li>
        <div class="interest-item" style="background-image: url('./hobbies/guitar.jpeg');">Playing guitar (electric, bass, acoustic)</div>
      </li>
      <li>
        <div class="interest-item" style="background-image: url('./hobbies/video editing.png');">Video editing </div>
      </li>
    </ul>
  </div>
</div>
