<!--<div class="container">
    <h2>Coding skills</h2>
    <ul>
      <li *ngFor="let skill of skills">{{ skill }}</li>
    </ul>
  </div>
-->
<div class="skills-container">
  <div class="skill-group beginner">

    <div class="skill-item">
      <img src="/../.././assets/html-5-logo.png" alt="HTML">
      <p>HTML</p>
    </div>
    <div class="skill-item">
      <img src="/../.././assets/css.png" alt="CSS">
      <p>CSS</p>
    </div>
  </div>
  <div class="skill-group intermediate">

    <div class="skill-item">
      <img src="/../.././assets/java.png" alt="Java">
      <p>Java</p>
    </div>
    <div class="skill-item">
      <img src="/../.././assets/c-sharp.png" alt="C#">
      <p>C#</p>
    </div>
    <div class="skill-item">
      <img src="/../.././assets/typescript.png" alt="Typescript">
      <p>Typescript</p>
    </div>
  </div>
  <div class="skill-group advanced">
    <div class="skill-item">
      <img src="/../.././assets/python.png" alt="Python">
      <p>Python</p>
    </div>
    <div class="skill-item">
      <img src="/../.././assets/c-.png" alt="C++">
      <p>C++</p>
    </div>
    <div class="skill-item">
      <img src="/../.././assets/angular.png" alt="Angular">
      <p>Angular</p>
    </div>
    
    
  </div>
</div>
