<div class="home-container">
    <div class="jumbotron">
      <h1 class="display-4" align="center">Welcome to my digital space!</h1>
      <h1 align="center">This is me (professionally)</h1>

     
      
      <img src="./Untitled.png" alt="It's not found"  align ="right">
      <p class="lead">My name is Ariël Reuel Truter. I'm a 3rd Year B.Sc. Information Technology.
        </p>
      <p>
       
 As a Junior software developer, I am constantly inspired by the wisdom
 and innovation of those who have paved the way before me. One of my favorite quotes by Isaac Newton encapsulates
  this sentiment perfectly: 
  </p>
<p>
"If I have seen further than others, it is by standing upon the shoulders of giants."
</p>
<p>
In this portfolio, you'll find a showcase of my skills, projects, and experiences that reflect my passion for technology and
problem-solving. 
</p><p>
Thank you for visiting, and I hope you enjoy exploring my work!

      </p>
    </div>
  </div>
  