<div class="home-container">
    <div class="jumbotron">
      <h1 class="display-4">Hello There</h1>
      <h1>This is me (proffesionally)</h1>

     
      
      <img src="./Untitled.png" alt="It's not found"  align ="right">
      <p class="lead">My name is Ariël Reuel Truter I am a 3rd Year in a Bachelor's in Science of Information Technology
         and looking forward to the future that we can build.</p>
      <p>
        I know that any amount of experience will help me gain insight which alludes to one of my favourite quotes.
        
        "If I have seen further than others, it is by standing upon the shoulders of giants." Isaac Newton
        So I do hope that you will help me to gain a better view of the world of coding and I hope you enjoy the site.
      </p>
    </div>
  </div>
  